.benefits-about {
    overflow-x: hidden;
    margin-top: 120px;
}

.benefits-about__list {
    @include reset-list;
}

.benefits-about__list-item {
    display: flex;
    margin-bottom: 160px;
    position: relative;


    &::before {
        content: '';
        position: absolute;
        background-image: url("../../img/about-line.png");
        width: 741px;
        height: 151px;
        right: -165px;
        bottom: 30px;
        z-index: 1;
    }

    &::after {
        content: '';
        position: absolute;
        width: 445px;
        height: 445px;
        left: calc(100% + 64px);
        border-radius: 50%;
        background: #E5ECF4;
    }
}

.benefits-about__list-item:nth-child(2) {
    flex-direction: row-reverse;

    &::before {
        top: 0;
        width: 741px;
        height: 151px;
        background-image: url("../../img/line3.png");
        left: -565px;
    }

    &::after {
        left: -509px;
    }
}

.benefits-about__img {
    border-radius: 50%;
    width: 445px;
    height: 445px;
}

.benefits-about__list-words {
    width: 405px;
    margin-right: auto;
}

.benefits-about__list-words--left {
    margin: 0;
    margin-left: auto;
}

.benefits-about__list-name {
    width: 380px;
    font-family: 'Space Mono';
    font-weight: bold;
    font-size: 48px;
    letter-spacing: -2.14286px;
    color: #495567;
}

.benefits-about__list-info {
    font-size: 15px;
    line-height: 25px;
    color: #939CAA;
    margin-bottom: 40px;
}

.benefits-about__list-link {
    color: #fff;
    font-family: 'Space Mono';
    font-weight: bold;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    padding: 14px 48px;
    background-color: #FCB72B;
    border: 3px solid #FCB72B;

    &:hover {
        color: #FCB72B;
        background-color: rgba(255, 255, 255, 0);
    }
}

@media screen and (max-width: $tablet) {
    .benefits-about__list-item {
        flex-direction: column-reverse;

        &::before {
            top: 307px;
            left: 0;
        }

        &::after {
            left: auto;
            right: -390px;
            top: 0;
        }
    }

    .benefits-about__list-item:nth-child(2) {
        flex-direction: column-reverse;

        &::before {
            left: -446px;
        }

        &::after {
            right: auto;
            top: 0;
            left: -406px;
        }
    }

    .benefits-about__img {
        margin: 0 auto;
    }

    .benefits-about__list-words {
        text-align: center;
        width: 573px;
        margin: 0 auto;
    }

    .benefits-about__list-name {

        margin-left: auto;
        margin-right: auto;
    }

    .benefits-about__list-item:nth-child(2) .benefits__list-words {
        margin: 0;

    }

    .benefits-about__list-info {
        width: 573px;

    }

    .benefits-about__list-link {
        display: none;
    }
}

@media screen and (max-width: $mobile) {
    .benefits-about { 
        margin-top: 40px;
    }
    .benefits-about__list-item {

        &::after {
            display: none;
        }

        &::before {
            top: 173px;
        }
    }

    .benefits-about__list-item:nth-child(2) {
        &::before {
            left: -523px;
        }
    }

    .benefits-about__list-words {
        width: 311px;
        margin: 0 auto;
    }

    .benefits-about__list-name {
        font-size: 32px;
        width: 200px;
        text-align: center;
        margin: 0 auto;
        margin-top: 56px;
        margin-bottom: 32px;
    }

    .benefits-about__list-info {
        width: 280px;
        margin: 0 auto;
        margin-bottom: 46px;
    }

    .benefits-about__img {
        width: 311px;
        height: 311px;
        margin: 0 auto;
    }

    .benefits-about__list-item:last-child .benefits-about__list-words {
        margin-right: auto;
    }

    .benefits-about__list-link {
        display: none;
    }
}